<html>
<head>
  {% include "site/head.njk" %}
</head>
<body>
  {% include "site/header.njk" %}
  <main role="main">
    {% block main %}{% endblock %}
  </main>
  {% include "site/footer.njk" %}
</body>
</html>
