---
layout    : home
eleventyExcludeFromCollections: true
---

  <br/>

  <p>
    <a class="button is-dark
    blue-grey darken-2 hoverable m-b-5"
       href="{{ site.baseurl }}/pages/archive-by-month/"
      >Articles Sorted by Month</a>
    <a class="button is-dark
    blue-grey darken-1 hoverable m-b-5"
       href="{{ site.baseurl }}//ags/"
      >Articles Sorted by Tag</a>
  </p>

  <p>As always,
  should you be caught or killed,
  any knowledge of your actions will be disavowed.</p>

  <div class="justify-content-center">
    <img src="{{ "/assets/images/cards/one-page.png" | url }}" 
         alt="business card">
  </div>

  <p>
    <span class="fas fa-home"></span>&nbsp;
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
  </p>

