{% extends "layouts/widget.njk" %}

{% set color = 'green' %}

{% block widget_header %}
  <strong>Archive This Year</strong>
  <span class="fa fa-archive is-pulled-right"></span>
{% endblock %}

{% block widget_body %}

  {% set posts = collections.posts %}
  {% set page_year = page.date | date('Y')  %}

  {%- set posts = posts | mapdate  -%}
  {%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

  {%- for year, postsInYear in groupByYear -%}
      {%- if year == page_year -%}
        <ul class="widget-list">
          {%- for post in postsInYear | sort(false, true, 'month') -%}
            <li>
              <a href="{{ post.url | url }}">
                {{ post.data.title }}
              </a>
            </li>
            {%- endfor -%}
        </ul>
      {%- endif -%}
  {%- endfor -%}

{% endblock %}
