{% extends "layouts/columns-double.njk" %}

{% block main_color %}light-blue{% endblock %}
{% block aside_color %}lime{% endblock %}

{% block widget_body %}
  <p>This is a tags kind layout.</p>
{% endblock %}
