---
layout    : archive
title     : Archive
permalink : /pages/
eleventyExcludeFromCollections: true
---

  <div class="archive-list">
  {%- for post in collections.all | reverse -%}
    <div class="archive-item meta-item">
      <div class="meta_link has-text-right">
        <time class="meta_time is-pulled-right"
              datetime="{{ post.date | date() }}">
          {{ post.date | date('MMM DD, Y') }}&nbsp;
          &nbsp;<span class="fa fa-calendar"></span></time></div>
      <div class="is-pulled-left">
      <a href="{{ post.url | url }}">
        {{ post.data.title }}
      </a></div>
      <div class="is-clearfix"></div>
    </div>
  {%- endfor -%}
  </div>
