
{%- set posts = posts | mapdate -%}
{%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

<div id="archive">
{%- for year, postsInYear in groupByYear -%}
  <div>
    <div class ="anchor-target archive-year p-b-5" 
         id="{{ year }}">
      {%- if year == (metadata.now | date("Y")) -%}
        <strong>This year's posts ({{ year }})</strong>
      {%- else -%}
        <strong>{{ year }}</strong>
      {%- endif -%}
    </div>

    {%- set groupByMonth = postsInYear | groupBy('month') -%}
    {%- set groupByMonth = groupByMonth | dictsort | reverse -%}

    {%- for month, postsInMonth in groupByMonth -%}
    <section class="p-y-5">

      <div class="widget white z-depth-1 hoverable m-b-10">
        <div class="widget-header {{ color }} lighten-4">

          <div class ="archive-month" 
               id="{{ year }}-{{ month }}">
            {{ postsInMonth[0].monthtext }}</div>

        </div>
        <div class="widget-body">

          <div class="archive-list">
            {%- for post in postsInMonth | sort(false, true, 'month') -%}
              {% include "index/each-post.njk" %}
            {%- endfor -%}
          </div>

        </div>
      </div>

    </section>
    {%- endfor -%}

  </div>
{%- endfor -%}
</div>
