html {
  height: 100%;
  overflow-y: auto;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}

.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 4rem;
}

.blog-post p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main,
aside {
  margin-bottom: 20px;
}

@media screen and (min-width: 769px), print {
  main {
    margin-right: 10px;
    margin-left: 10px;
  }

  aside {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    margin-left: 0px;
  }

  aside {
    margin-right: 0px;
  }
}
