{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >{{ title or metadata.title }}</h2>
      <p><strong>{{ page.date | date('MMMM Do, YYYY') }}</strong></p>
      {{ content | safe }}
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a post kind layout.
    </div>
  </aside>
{% endblock %}
