  <!-- JavaScript at end of body for optimized loading -->
  <script src="{{ "/assets/js/jquery-slim.min.js" | url }}"></script>
  <script src="{{ "/assets/js/bulma-burger-jquery.js" | url }}"></script>
