
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ renderData.title or title or metadata.title }}</title>

  <!-- CSS Framework -->
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/bulma.css" | url }}">
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/fontawesome.css" | url }}">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/helper.css" | url }}">
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/main.css" | url }}">

  <link rel="shortcut icon" type="image/x-icon" 
        href="{{ "/assets/favicon.ico" | url }}"/>

  <script src="{{ "/assets/js/bulma-burger-plain.js" | url }}"></script>
