---
layout    : home
eleventyExcludeFromCollections: true
---

  <div class="box">
    To have, to hold, to love,
    cherish, honor, and protect?</div>
  
  <div class="box">
    To shield from terrors known and unknown?
    To lie, to deceive?</div>

  <div class="box">
    To live a double life,
    to fail to prevent her abduction,
    erase her identity, 
    force her into hiding,
    take away all she has known.</div>


