
{%- set posts = posts | mapdate -%}
{%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

<div id="archive">
{%- for year, postsInYear in groupByYear -%}

  <section class="white lighten-5 z-depth-1 hoverable
                  p-5 m-y-5">

    <div class ="anchor-target archive-year p-b-5" 
         id="{{ year }}">
      {%- if year == (metadata.now | date("Y")) -%}
        <strong>This year's posts ({{ year }})</strong>
      {%- else -%}
        <strong>{{ year }}</strong>
      {%- endif -%}
    </div>

    {%- set groupByMonth = postsInYear | groupBy('month') -%}
    {%- set groupByMonth = groupByMonth | dictsort | reverse -%}

    {%- for month, postsInMonth in groupByMonth -%}
      <div class="p-b-5">

        <div class ="archive-month" 
             id="{{ year }}-{{ month }}">
          {{ postsInMonth[0].monthtext }}</div>

        <div class="archive-list">
          {%- for post in postsInMonth | sort(false, true, 'month') -%}
            {% include "index/each-post.njk" %}
          {%- endfor -%}
        </div>

      </div>
    {%- endfor -%}

  </section>

{%- endfor -%}
</div>
