
{%- set posts = posts | mapdate -%}
{%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

<div id="archive">
{%- for year, postsInYear in groupByYear -%}

  <section class="white lighten-5 z-depth-1 hoverable
                  p-5 m-y-5">

    <div class ="anchor-target archive-year" 
         id="{{ year }}">{{ year }}</div>

    <div class="archive-list">
    {%- for post in postsInYear | sort(false, true, 'month') -%}
      {% include "index/each-post.njk" %}
    {%- endfor -%}
    </div>

  </section>

{%- endfor -%}
</div>
