
  <section class="p-y-5" id="archive">
    {% for tag in collections.tagList %}
      {%- set postsList = collections[ tag ] -%}
      <div id="{{ tag | slug }}" class ="anchor-target">
        <span class="fa fa-tag"></span> 
        &nbsp; {{ tag }}
      </div>

      <div class="archive-list p-y-5">
      {%- for post in postsList -%}
        {% include "index/each-post.njk" %}
      {%- endfor -%}
      </div>
    {%- endfor -%}
  </section>
